.contacts {
  padding: 50px 39px 21px 39px;
}
.contacts__list {
  @include no-list;
}

.contacts__intro {
  @include page-slogan;
  margin: 0 auto;
  margin-bottom: 44px;
  width: 222px;
}

.contacts__item {
  margin-bottom: 28px;
}

.contacts__text {
  font-size: inherit;
  font-weight: 700;
  color: $dark-grey;
  margin: 0;
}

.contacts__info {
  font-size: 24px;
  font-weight: 300;
  color: $lipstick;
  margin: 0;
}

.contacts__link {
  color: $lipstick;

  &--mail:hover {
    color: $dark-grey;
    text-decoration: underline;
  }

  &--mail:active {
    color: rgba($dark-grey, 0.3)
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 56px 22px 0 22px;
  }
  .contacts__intro {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 57px;
    width: 369px;
  }
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contacts__item {
    width: 250px;
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__intro {
    font-size: 50px;
    line-height: normal;
    width: 461px;
  }
}
