.copyright {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $dark-grey;
  margin: 0;
}

.copyright__logo {
  fill: $lipstick;
  margin-left: 15px;
}

.copyright__link {
  display: block;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 33.333333%;
    justify-content: flex-end;
  }
}
