.copyright {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $dark-grey;
  margin: 0;
}

.copyright__logo {
  margin-left: 8px;
}

.copyright__link {
  display: block;
  padding-top: 5px;
  color: $lipstick;

    &:hover,
    &:focus {
      color: $dark-grey;
    }
    &:active {
      color: rgba($dark-grey, 0.3);
    }
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 33.333333%;
    justify-content: flex-end;
    padding-top: 10px;
  }
  .copyright__link {
    padding-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
    line-height: 18px;
  }
}
