.download-app {
  background-color: $download-background;
}

.download-app__button {
  @include button-border($white);
  @include oval-button;
  padding: 19px 32px 16px 32px;
  display: block;
  color: $white;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 281px;


  &:hover {
    background-color: $white;
    color: $lipstick;
  }

  &:active {
    background-color: $white;
    color: rgba($lipstick, 0.3);
  }
}

.download-app__description {
  font-size: 14px;
  font-weight: 300;
  color: $white;
}

@media (min-width: $tablet-width) {
  .download-app {
    background-color: transparent;
    width: 300px;
  }
  .download-app__description {
    font-size: inherit;
  }
  .download-app__button {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .download-app__description {
    width: 294px;
  }
  .download-app__button {
    margin-bottom: 67px;
  }
  .download-app__market-list {
    margin-bottom: 63px;
  }
}
