.download-app {
  background-color: $download-background;
}

.download-app__button {
  @include button-border($white);
  @include oval-button;
  color: $white;


  &:hover {
    background-color: $white;
    color: $lipstick;
  }

  &:active {
    background-color: $white;
    color: rgba($lipstick, 0.3);
  }
}

.download-app__description {
  font-size: 14px;
  font-weight: 300;
  color: $white;
}
