.features__list {
  @include no-list;
  background-color: $light-grey;
}

.features__slogan {
  @include page-slogan;
}

.features__title {
  color: $black;
  font-weight: 700;
  font-size: inherit;
  margin: 0;
}

.features__description {
  font-size: 14px;
  margin: 0;
}
