.form__text-block {
  @include wrapper;
  padding-top: 46px;
  padding-bottom: 33px;
}

.form__fields-block {
  @include wrapper;
  padding-bottom: 44px;

  &--contacts {
    padding-top: 32px;
  }
}

.form__inner-wrapper {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  font-size: 14px;
  text-align: left;
  line-height: 30px;
  color: $lipstick;
  text-transform: uppercase;
  margin-left: 22px;
  margin-bottom: 5px;
  display: block;
}

.form__text {
  @include page-text;
  margin: 0;

  &--hidden {
    display: none;
  }
}

.form__input,
.form__textarea {
  border: 2px solid $medium-grey;
  outline: none;

  &:hover {
    border: 2px solid $dark-grey;
  }

  &:active {
    border: 2px solid $lipstick;
  }
}

.form__input {
  @include placeholder;
  width: 100%;
  padding: 20px 20px 18px 20px;
}

.form__buttons-block {
  background-color: $light-grey;
  padding: 39px 20px 47px;

  &--achievements {
    padding-top: 37px;
  }
  &--app {
    padding-bottom: 46px;
  }
}

.form__header {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $lipstick;
  font-weight: 400;
  margin: 0;
  margin-bottom: 39px;
  display: block;

  &--contacts {
    display: none;
  }
  &--achievements {
    padding: 0 20px;
    margin-bottom: 42px;
  }
  &--comment {
    margin-bottom: 15px;
  }
}

.form__list {
  @include no-list;
  text-align: left;
}

.form__item {
  margin-bottom: 52px;

  &--app {
    margin-bottom: 45px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.form__button-label {
  font-size: inherit;
  line-height: 30px;
  color: $dark-grey;
  text-align: left;
  padding-left: 52px;
}

.form__comment-block {
  @include wrapper;
  padding-top: 39px;
  padding-bottom: 14px;
}

.form__comment-label {
  font-size: 14px;
  text-transform: uppercase;
  color: $lipstick;
  font-weight: 400;
  margin-bottom: 19px;
  display: block;
}

.form__textarea {
  font-size: inherit;
  line-height: 30px;
  text-align: left;
  color: $dark-grey;
  padding: 14px 20px 14px 19px;
  margin-bottom: 42px;
  width: 100%;
  min-height: 202px;
}

.form__submit {
  @include no-button;
  background-color: $green;
  border: 2px solid $green;
  font-size: inherit;
  font-weight: 700;
  color: $white;
  line-height: 30px;
  text-transform: uppercase;
  outline: none;
  padding: 13px 15px 16px 15px;
  margin-bottom: 35px;
  width: 100%;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    background-color: $dark-green;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $medium-grey;
  }
}

.form__asterisk {
  @include page-text;
  text-transform: uppercase;
  margin: 0;
}

.form__asterisk-sign {
  @include page-text;
  color: $lipstick;
}

@media(min-width: $tablet-width) {
  .form {
    padding: 100px 0 52px;
  }
  .form__wrapper {
    display: flex;
    flex-direction: column;
  }
  .form__text--hidden {
    display: block;
  }
  .form__text-block {
    order: 1;
    margin-bottom: 76px;
    padding: 0;
  }
  .form__fields-block {
    padding: 0;

    &--name {
      order: 2;
      margin-bottom: 70px;
    }

    &--contacts {
      order: 4;
      margin-bottom: 69px;
    }
  }
  .form__inner-wrapper {
    display: flex;

    &--contacts {
      flex-direction: column;
    }
  }
  .form__label {
    margin: 0;
    margin-right: 22px;
    align-self: center;

    &--contacts {
      order: 2;
      align-self: flex-start;
      margin-right: 0;
      margin-left: 18px;
    }
  }
  .form__input--contacts {
    margin-bottom: 21px;
    display: block;
  }
  .form__buttons-block {
    background-color: inherit;
    padding: 0;
    margin-bottom: 69px;

    &--app {
      order: 3;
    }

    &--achievements {
      order: 5;
    }
  }
  .form__border-wrapper {
    border: 2px solid $medium-grey;
    padding: 54px 60px 50px 60px;
    border-top: 0;

    &--comment {
      margin-bottom: 71px;
    }
    &--contacts {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
  .form__comment-block {
    padding: 0;
    order: 6;
  }
  .form__header {
    margin: 0 0 -8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--contacts {
      margin: 0 0 -8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .form__header::before {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: $medium-grey;
    margin-right: 10px;
  }
  .form__header::after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: $medium-grey;
    margin-left: 10px;
  }
  .form__textarea {
    width: 496px;
    min-height: 189px;
    padding: 23px 26px 23px 20px;
  }
  .form__submit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form__submit {
    margin-bottom: 0;
    width: 296px;
  }
  .form__asterisk {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin: 0 auto;
    padding-top: 100px;
  }
  .form__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form__border-wrapper--contacts {
    flex-direction: row;
  }
  .form__inner-wrapper--contacts {
    margin-bottom: 0;
    flex-grow: 1;
    margin-right: 74px;

    &:last-of-type {
      margin-right: 0;
    }
  }
  .form__text-block {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 64px;
  }
  .form__fields-block--name {
    width: 433px;
    padding: 0;
  }
  .form__buttons-block--app {
    width: 431px;
    padding: 0;
  }
  .form__fields-block--contacts {
    width: 100%;
    padding: 0;
  }
  .form__buttons-block--achievements {
    width: 100%;
    padding: 0;
  }
  .form__comment-block {
    width: 100%;
    padding: 0;
  }
  .form__list--achievements {
    /*;display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;*/
    column-count: 3;
  }
  .form__textarea {
    width: 100%;
    height: 124px;
    padding: 23px 20px;
  }
  .form__input--contacts {
    width: 100%;
  }
}
