.form__text-block {
  @include wrapper;
  padding-top: 46px;
  padding-bottom: 33px;
  position: relative;
}

.form__fields-block {
  @include wrapper;
  padding-bottom: 44px;

  &--contacts {
    padding-top: 32px;
  }
}

.form__inner-wrapper {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  font-size: 14px;
  text-align: left;
  line-height: 30px;
  color: $lipstick;
  text-transform: uppercase;
  margin-left: 22px;
  margin-bottom: 5px;
  display: block;
}

.form__text {
  @include page-text;
  margin: 0;

  &--hidden {
    display: none;
  }
}

.form__input,
.form__textarea {
  border: 2px solid $medium-grey;
  outline: none;

  &:hover {
    border: 2px solid $dark-grey;
  }

  &:active {
    border: 2px solid $lipstick;
  }
}

.form__input {
  @include placeholder;
  width: 100%;
  padding: 20px 20px 18px;
}

.form__buttons-block {
  background-color: $light-grey;
  padding: 39px 20px 47px;

  &--achievements {
    padding-top: 37px;
  }

  &--app {
    padding-bottom: 46px;
  }
}

.form__header {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $lipstick;
  font-weight: 400;
  margin: 0 0 39px;
  display: block;

  &--contacts {
    display: none;
  }

  &--achievements {
    padding: 0 20px;
    margin-bottom: 42px;
  }

  &--comment {
    margin-bottom: 15px;
  }
}

.form__list {
  @include no-list;
  text-align: left;
}

.form__item {
  margin-bottom: 52px;

  &--app {
    margin-bottom: 45px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__button-label {
  font-size: inherit;
  line-height: 30px;
  color: $dark-grey;
  text-align: left;
  padding-left: 67px;
  cursor: pointer;
  position: relative;

  &--achievements::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 39px;
    height: 39px;
    background-color: $white;
    border: 2px solid $medium-grey;
  }

  &--app::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 39px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid $medium-grey;
    background-color: $white;
  }
}

.form__button--checkbox:checked + .form__button-label--achievements::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 22px;
  height: 16px;
  background-image: url("../img/svg/icon-yes.svg");
  background-repeat: no-repeat;
}

.form__button--checkbox:focus + .form__button-label--achievements::before,
.form__button--checkbox:hover + .form__button-label--achievements::before {
  border-color: $dark-grey;
}

.form__button--checkbox:active + .form__button-label--achievements::before {
  border-color: $lipstick;
}

.form__button--checkbox:disabled + .form__button-label--achievements {
  color: $medium-grey;
  cursor: default;
}

.form__button--checkbox:disabled + .form__button-label--achievements::before {
  opacity: 0.5;
  border-color: $medium-grey;
  cursor: default;
}

.form__button--checkbox:disabled:checked + .form__button-label--achievements::after {
  opacity: 0.1;
  cursor: default;
}

.form__button--radio:checked + .form__button-label--app::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  left: 12px;
  border-radius: 50%;
  background-color: $lipstick;
}

.form__button--radio:focus + .form__button-label--app::before,
.form__button--radio:hover + .form__button-label--app::before {
  border-color: $dark-grey;
}

.form__button--radio:active + .form__button-label--app::before {
  border-color: $lipstick;
}

.form__button--radio:disabled + .form__button-label--app {
  color: $medium-grey;
  cursor: default;
}

.form__button--radio:disabled + .form__button-label--app::before {
  opacity: 0.5;
  border-color: $medium-grey;
  cursor: default;
}

.form__button--radio:disabled + .form__button-label--app::after {
  background-color: $medium-grey;
  cursor: default;
}

.form__comment-block {
  @include wrapper;
  padding-top: 39px;
  padding-bottom: 14px;
}

.form__comment-label {
  font-size: 14px;
  text-transform: uppercase;
  color: $lipstick;
  font-weight: 400;
  margin-bottom: 19px;
  display: block;
}

.form__textarea {
  font-size: inherit;
  line-height: 30px;
  text-align: left;
  color: $dark-grey;
  padding: 14px 20px 14px 19px;
  margin-bottom: 42px;
  width: 100%;
  min-height: 202px;
  resize: none;
}

.form__submit {
  @include no-button;
  background-color: $green;
  border: 2px solid $green;
  font-size: inherit;
  font-weight: 700;
  color: $white;
  line-height: 30px;
  text-transform: uppercase;
  outline: none;
  padding: 20px 15px 16px;
  margin-bottom: 35px;
  width: 100%;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    background-color: $dark-green;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $medium-grey;
  }
}

.form__asterisk {
  @include page-text;
  text-transform: uppercase;
  margin: 0;
}

.form__asterisk-hidden {
  display: none;
}

.form__asterisk-sign {
  @include page-text;
  color: $lipstick;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 92px 0 47px;
  }

  .form__wrapper {
    @include wrapper;
    display: flex;
    flex-direction: column;
  }

  .form__text--hidden {
    display: inline;
  }

  .form__text {
    font-size: 18px;
    padding: 0 40px;
  }

  .form__text-block {
    order: 1;
    margin-bottom: 71px;
    padding: 0;
  }

  .form__input {
    &--contacts {
      width: 100%;
      margin-bottom: 11px;
      display: block;
      padding-top: 18px;
      padding-left: 17px;
      padding-right: 60px;
    }
  }

  .form__fields-block {
    padding: 0;

    &--name {
      order: 2;
      margin-bottom: 59px;
    }

    &--contacts {
      order: 4;
      margin-bottom: 55px;
    }
  }

  .form__inner-wrapper {
    display: flex;
    margin-bottom: 53px;
    position: relative;
  }

  .form__inner-wrapper--phone {
    flex-direction: column;
    position: relative;
    margin-bottom: 32px;

    &::before {
      content: "";
      position: absolute;
      width: 59px;
      height: 56px;
      cursor: pointer;
      background-color: $medium-grey;
      background-image: url("../img/svg/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      top: 2px;
      right: 2px;
    }
  }

  .form__inner-wrapper--email {
    flex-direction: column;
    position: relative;
    margin-bottom: 32px;

    &::before {
      content: "";
      position: absolute;
      width: 59px;
      height: 56px;
      cursor: pointer;
      background-color: $medium-grey;
      top: 2px;
      right: 2px;
      background-image: url("../img/svg/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .form__label {
    margin: 0 20px 0 0;
    align-self: center;

    &--contacts {
      order: 2;
      align-self: flex-start;
      margin-right: 0;
      margin-left: 17px;
    }
  }

  .form__buttons-block {
    background-color: inherit;
    padding: 0;
    margin-bottom: 69px;

    &--app {
      order: 3;
      margin-bottom: 57px;
    }

    &--achievements {
      order: 5;
      margin-bottom: 59px;
    }
  }

  .form__button-label {
    padding-left: 60px;
  }

  .form__border-wrapper {
    border: 2px solid $medium-grey;
    padding: 56px 60px 59px;
    border-top: 0;

    &--comment {
      margin-bottom: 67px;
      padding-top: 45px;
      padding-bottom: 5px;
    }

    &--contacts {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-top: 46px;
      padding-bottom: 27px;
    }

    &--achievements {
      padding-bottom: 54px;
      width: 100%;
    }
  }

  .form__comment-block {
    padding: 0;
    order: 6;
  }

  .form__header {
    margin: 0 0 -8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--achievements {
      padding: 0;
    }

    &--contacts {
      margin: 0 0 -8px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "";
        height: 2px;
        flex-grow: 1;
        background: $medium-grey;
        margin-right: 25px;
      }

      &::after {
        content: "";
        height: 2px;
        flex-grow: 1;
        background: $medium-grey;
        margin-left: 25px;
      }
    }
  }

  .form__header::before {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: $medium-grey;
    margin-right: 32px;
  }

  .form__header::after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: $medium-grey;
    margin-left: 31px;
  }

  .form__textarea {
    width: 497px;
    min-height: 190px;
    padding: 13px 17px 23px;
  }

  .form__submit-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__submit {
    margin-bottom: 0;
    padding: 20px 56px 17px 55px;
    width: auto;
    display: block;
  }

  .form__asterisk {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin: 0 auto;
    padding-top: 92px;
  }

  .form__text-block {
    margin-bottom: 90px;
  }

  .form__text {
    padding: 0 70px;
  }

  .form__text--hidden {
    padding: 0;
  }

  .form__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__border-wrapper {
    &--contacts {
      flex-direction: row;
      padding-top: 44px;
      padding-bottom: 14px;
    }

    &--app {
      padding-top: 57px;
      padding-left: 75px;
    }

    &--achievements {
      width: 940px;
      padding: 56px 58px 9px 60px;
    }

    &--comment {
      padding-top: 41px;
      padding-bottom: 42px;
      margin-bottom: 64px;
    }
  }

  .form__inner-wrapper--phone {
    margin-bottom: 0;
    flex-grow: 1;
    margin-right: 74px;
  }

  .form__inner-wrapper--email {
    margin-bottom: 0;
    flex-grow: 1;
    margin-right: 0;
  }

  .form__text-block {
    padding: 0;
    margin: 0 auto 85px;
  }

  .form__fields-block--name {
    width: 435px;
    padding: 0;
    margin-right: 71px;
  }

  .form__button-label {
    padding-left: 57px;

    &--achievements {
      padding-left: 58px;
    }
  }

  .form__buttons-block--app {
    width: 434px;
    padding: 0;
    margin-top: -14px;
  }

  .form__fields-block--contacts {
    width: 100%;
    padding: 0;
  }

  .form__buttons-block--achievements {
    padding: 0;
  }

  .form__comment-block {
    width: 100%;
    padding: 0;
  }

  .form__list--achievements {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__item {
    margin-top: 0;
    width: auto;

    &--achievements {
      margin-right: auto;
    }

    &:nth-child(5) {
      margin-right: 0;
    }

    &:nth-child(6) {
      margin-right: 0;
    }

    &:nth-child(odd) {
      order: 1;
    }

    &:nth-child(even) {
      order: 2;
    }

    &:nth-child(1),
    &:nth-child(2) {
      width: 315px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      width: 295px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      width: 208px;
    }
  }

  .form__textarea {
    width: 100%;
    min-height: 124px;
    padding: 12px 20px 13px 17px;
    margin-bottom: 0;
  }

  .form__input--contacts {
    width: 100%;
  }

  .form__asterisk-hidden {
    display: inline;
  }

  .form__submit {
    padding-bottom: 14px;
  }
}
