.form-upload__text-wrapper {
  @include wrapper;
  padding-top: 22px;
  padding-bottom: 42px;
}

.form-upload__image-wrapper {
  @include wrapper;
  background-color: $light-grey;
  padding-top: 20px;
  padding-bottom: 41px;
}

.form-upload__edit {
  border-bottom: 1px solid rgba($black, 0.1);
  margin-bottom: 39px;
}

.form-upload__image {
  margin-bottom: 42px;
  margin-left: -4px;
}

.form-upload__text {
  @include page-text;
  margin: 0;
  margin-left: -3px;
}


.form-upload__button-submit {
  @include button-border($lipstick);
  @include oval-button;
  background-color: transparent;
  color: $lipstick;
  padding: 15px 89px 16px 87px;
  margin-bottom: 12px;
  margin-left: -2px;

  &:hover {
    background-color: $lipstick;
    color: $white;
  }

  &:active {
    background-color: $lipstick;
    color: rgba($white, 0.3);
  }
}

.form-upload__button-cancel {
  @include button-border(rgba($dark-grey, 0.1));
  @include oval-button;
  background-color: transparent;
  color: rgba($dark-grey, 0.1);
  padding: 15px 91px 16px 91px;

  &:hover {
    @include button-border(rgba($dark-grey, 0.3));
    color: rgba($dark-grey, 0.3);
  }

  &:active {
    @include button-border(rgba($dark-grey, 0.3));
    background-color: rgba($dark-grey, 0.3);
    color: rgba($white, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .form-upload__text-wrapper {
    @include wrapper;
  }
  .form-upload__text {
    font-size: 18px;
    padding: 43px 100px 72px;
  }
  .form-upload__image-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 54px;
  }
  .form-upload__image {
    margin: 0;
    width: 300px;
  }
  .form-upload__edit-wrapper {
    flex-grow: 1;
    margin-left: 63px;
  }
  .form-upload__edit {
    border-bottom: none;
  }
  .form-upload__button-submit {
    padding: 13px 83px 16px 71px;
  }
  .form-upload__button-cancel {
    padding: 13px 83px 16px 71px;
  }
}

@media (min-width: $desktop-width) {
  .form-upload {
    @include wrapper;
  }
  .form-upload__text {
    padding: 5px 230px 69px;
  }
  .form-upload__image-wrapper {
    padding: 57px 60px 57px 80px;
  }
  .form-upload__edit-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 90px;
  }
  .form-upload__buttons {
    display: flex;
    justify-content: space-between;
  }
  .form-upload__button-submit {
    width: 183px;
    margin-bottom: 0;
    padding: 20px 15px 21px 15px;
  }
  .form-upload__button-cancel {
    width: 183px;
    margin: 0;
    padding: 20px 15px 21px 15px;
  }
}
