.main-nav {
  color: $white;
  line-height: 32px;
  background-color: $dark-grey;
}

.main-nav__list {
  @include no-list;
}

.main-nav__toggle {
  @include header-events;
  @include no-button;
  color: $white;

  &--close {
    margin-top: 20px;
  }
  &--burger {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    background-color: transparent;
    flex-grow: 1;
    padding-top: 8px;
    margin-left: 30px;
  }
  .main-nav__toggle {
    display: none;
  }
}
