.main-nav {
  color: $white;
  line-height: 32px;
  background-color: $dark-grey;
}

.main-nav__list {
  @include no-list;
}

.main-nav__toggle {
  @include header-events;
  @include no-button;
  color: $white;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  display: block;
  cursor: pointer;
}

.main-nav__close {
    width: 24px;
    height: 23px;
}

.main-nav__burger {
    display: none;
}


.main-nav--closed .main-nav__burger {
  width: 50px;
  height: 24px;
  display: block;
  top: 20px;
  right: 20px;
}

.main-nav--closed .main-nav__close {
  display: none;
}

.main-nav--closed .site-list {
  display: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    background-color: transparent;
    flex-grow: 1;
    padding-top: 8px;
    margin-left: 30px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .site-list {
    display: flex;
  }
}
