.map {
  width: 100%;
  height: 213px;
  position: relative;
  background-image: url("../img/svg/icon-map-marker.svg"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 36px 36px, auto;
  background-position: center 108px, center bottom;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/svg/icon-map-marker.svg"), url("../img/bg-map-mobile@2x.jpg");
    background-size: 36px 36px, cover;
  }

  &::before {
    content: "";
    position: absolute;
    top: -77px;
    left: 0;
    width: 100%;
    height: 123px;
    z-index: 1;
    background-image: url("../img/svg/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 1200px 100%;
    background-position: center;
    overflow: hidden;
  }
}

@media (min-width: $tablet-width) {
  .map {
    width: 100%;
    height: 396px;
    background-image: url("../img/svg/icon-map-marker.svg"), url("../img/bg-map-tablet@1x.jpg");
    background-size: 36px 36px, auto;
    background-position: center 216px, center -320px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/svg/icon-map-marker.svg"), url("../img/bg-map-tablet@2x.jpg");
      background-size: 36px 36px, cover;
    }

    &::before {
      top: -30px;
    }
  }
}

@media (min-width: &$desktop-width) {
  .map {
    height: 505px;
    background-image: url("../img/svg/icon-map-marker.svg"), url("../img/bg-map-desktop@1x.jpg");
    background-size: 36px 36px, 1200px auto;
    background-position: center 268px, center -270px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/svg/icon-map-marker.svg"), url("../img/bg-map-desktop@2x.jpg");
      background-size: 36px 36px, cover;
    }

    &::before {
      top: -16px;
      background-size: 1440px 100%;

      @media(min-width: 1441px) {
        background-size: 100% 100%;
      }
    }
  }
}
