.market-list {
  @include no-list;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}

.market-list__item {
  margin: 0 17px;
}

.market-list__link {
  display: block;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .market-list {
    margin-bottom: 41px;
  }
}

@media (min-width: $desktop-width) {
  .market-list {
    margin-bottom: 63px;
  }
}
