.page-description {
  width: auto;
  background-color: $dark-grey;
  height: 174px;
  padding: 36px 46px auto 48px;
  &--index {
    height: 399px;
    padding: 28px 49px auto 50px;
  }
}

.page-description__text {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: $white;
}

@media (min-width: $tablet-width) {
  .page-description--index {
    height: auto;
    padding: 0 56px 39px 58px;
    }
  .page-description__text {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 61px;
  }
}

@media (min-width: $desktop-width) {
  .page-description {
    padding: 73px 229px 100px 232px;
    height: auto;

    &--index {
      padding: 0;
    }
  }
  .page-description__text {
    font-size: 50px;
    line-height: normal;
  }
}
