.page-footer {
  @include container;
  padding: 40px 20px;
}

.page-footer__link {
  display: block;
  margin: 0 auto;
  margin-bottom: 43px;
}

.page-footer__social {
  margin: 0 auto;
  margin-bottom: 41px;
}

.page-footer__copyright {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 20px 39px 20px;
  }

  .page-footer__link,
  .page-footer__social,
  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 940px;
    padding: 98px 0 74px 0;
  }
}
