.page-footer {
  margin: 0 auto;
  padding: 40px 0 40px;

  &--index {
    display: none;
  }
}

.page-footer__wrapper {
  @include wrapper;
}

.page-footer__link {
  display: block;
  margin: 0 auto;
  margin-bottom: 43px;
}

.page-footer__social {
  margin: 0 auto;
  margin-bottom: 27px;
}

.page-footer__copyright {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 31px 0 35px;

    &--index {
      display: block;
    }
  }
  .page-footer__wrapper {
    @include wrapper;
    display: flex;
    align-items: center;
  }
  .page-footer__link {
    margin: 0;
    width: 33.333333%;
    text-align: left;
  }
  .page-footer__social {
    margin: 0;
  }
  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 11px 0 74px;
  }
}
