.page-header {
  margin: 0 auto;
  box-shadow: 0px 1px 0 0 $black;
}

.page-header__container {
  @include wrapper;
  display: flex;
  padding-top: 22px;
  padding-bottom: 19px;
  justify-content: space-between;
  background-color: $dark-grey;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    padding-top: 27px;
    padding-bottom: 37px;
  }
  .page-header__logo-image {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgba($black, 0.3);
    padding-top: 27px;
    padding-bottom: 38px;
    box-shadow: none;
  }

  .page-header__wrapper {
    @include wrapper;
    display: flex;
    justify-content: space-between;
  }

  .page-header__container {
    box-shadow: none;
    padding: 0;
    max-width: 220px;
    margin: 0;
  }

  .page-header__link {
    background-color: transparent;
  }
}
