.site-list {
  @include no-list;
}

.site-list__item {
  font-size: inherit;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  color: $white;
  box-shadow: 0px 1px 0 0 $black, inset 0px 1px 0 0 rgba($black, 0.15);
  padding: 26px 23px 25px 19px;

  &--active {
    color: $white;
  }
}

.site-list__link {
  color: $white;

  &:hover {
    color: $lipstick;
  }

  &:active {
    color: rgba($lipstick, 0.3);
  }

  &--active,
  &--active:hover,
  &--active:active {
    color: $white;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    width: auto;
    justify-content: space-between;
  }
  .site-list__item {
    box-shadow: none;
    font-size: inherit;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-transform: none;
    padding: 0;
    align-items: center;
  }
}
