.slider__toggles {
  width: 62px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.slider__toggle {
  padding: 0;
  border: none;
  width: 6px;
  height: 6px;
  background-color: rgba($dark-grey, 0.3);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 17px;

  &:last-of-type {
    margin-right: 0;
  }
}


.slider__toggle--active {
  width: 12px;
  height: 12px;
  background-color: $white;
  border: 3px solid $dark-grey;
  opacity: 1;
}

 @media (min-width: $desktop-width) {
   .slider__toggle--active {
     display: none;
   }
   .slider__toggle--left,
   .slider__toggle--right {
     display: block;
   }

   .slider__toggle--left {
     position: absolute;
     top: 209px;
     left: 10px;
     width: 22px;
     height: 41px;
     padding: 0;
     border-radius: 0;
     background-repeat: no-repeat;
     background-color: transparent;
     border: none;
     opacity: 0.3;
     cursor: pointer;
     background-image: url("../img/svg/icon-review-arrow-left.svg");

     &:hover,
     &:focus {
      opacity: 0.6;
      }

    &:active {
      opacity: 0.1;
    }
  }
  .slider__toggle--right {
    position: absolute;
    top: 209px;
    right: 10px;
    width: 22px;
    height: 41px;
    padding: 0;
    border-radius: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    opacity: 0.3;
    cursor: pointer;
    background-image: url("../img/svg/icon-review-arrow-right.svg");

    &:hover,
    &:focus {
     opacity: 0.6;
     }

   &:active {
     opacity: 0.1;
   }
 }
 }
