.social {
  width: 100%;
}
.social__list {
  @include no-list;
  display: flex;
  justify-content: center;
}

.social__item {
  position: relative;
  background-color: $white;
  border: 3px solid rgba($dark-grey, 0.1);
  border-radius: 50%;
  cursor: pointer;
  width: 46px;
  height: 46px;
  margin-right: 17px;

  &:hover,
  &:focus {
    border-color: $dark-grey;
  }

  &:active {
    border-color: rgba($dark-grey, 0.3);
    opacity: 0.3;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__logo {
  position: absolute;

  &--twitter {
    top: 14px;
    left: 11px;
    width: 18px;
    height: 14px;
  }

  &--facebook {
    left: 16px;
    bottom: 11px;
    width: 9px;
    height: 18px;
  }

  &--youtube {
    bottom: 14px;
    left: 14px;
    width: 15px;
    height: 13px;
  }
}
@media (min-width: $tablet-width) {
  .social {
    width: 33.333333%;
  }
}
