.social {
  width: 100%;
}

.social__list {
  @include no-list;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
}

.social__item {
  position: relative;
  background-color: $white;
  cursor: pointer;
  margin-right: 12px;

  &:hover,
  &:focus {
    border-color: $dark-grey;
  }

  &:active {
    border-color: rgba($dark-grey, 0.3);
    opacity: 0.3;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  width: 51px;
  height: 51px;
  border: 3px solid rgba($dark-grey, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .social {
    width: 33.333333%;
  }
}
