.table {
  background-color: $white;
  table-layout: fixed;
  width: 300%;
  border-collapse: collapse;
  border: 2px solid $medium-grey;
  margin-bottom: 45px;
}

.table__header-cell{
  border: 2px solid $white;
  background-color: $dark-grey;
  color: $white;
  padding: 19px 35px 13px 35px;
  width: 33.333333%;
  margin-left: -100%;
}

.table__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.table__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.table__cell {
  border: 2px solid $medium-grey;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  padding: 16px 15px 14px 15px;
  width: 33.333333%;
  margin-left: -100%;
}

.table__cell--first {
  display: none;
}

.table__cell--void {
  display: none;
}

.table__cell-text {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .table {
    margin-bottom: 0;
  }
  .table__cell--first {
    display: table-cell;
  }
  .table__cell--void {
    display: table-cell;
    border: 2px solid $light-grey;
    background-color: $light-grey;
  }
  .table {
    width: 100%;
  }
  .table__header-cell {
    width: 25%;
  }
  .table__cell {
    width: 25%;
  }
  .table__cell-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .table__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .table__price {
    font-size: 24px;
  }
  .table__cell {
    font-size: 18px;
  }
}
