.table {
  background-color: $white;
  table-layout: fixed;
  width: 300%;
  border-collapse: collapse;
  border: 2px solid $medium-grey;
  margin-bottom: 39px;
}

.table__header-cell {
  border: 2px solid $white;
  background-color: $dark-grey;
  color: $white;
  padding: 17px 35px 21px;
  width: 33.333333%;
  margin-left: -100%;
  position: relative;

  &--standard::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 73px;
    height: 74px;
    background-image: url("../img/svg/bg-hit.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--standard::after {
    content: "хит";
    position: absolute;
    top: 15px;
    left: 7px;
    width: 24px;
    height: 26px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: $white;
    transform: rotate(-45deg);
  }
}

.table__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.table__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.table__cell {
  border: 2px solid $medium-grey;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  padding: 13px 15px 14px 20px;
  width: 33.333333%;
  margin-left: -100%;
  position: relative;

  &--first {
    display: none;
  }

  &:last-child {
    padding-top: 15px;
  }
}

.table__yes {
  position: absolute;
  top: 19px;
  right: 16px;
  width: 31px;
  height: 21px;
}

.table__no {
  position: absolute;
  top: 15px;
  right: 19px;
  width: 27px;
  height: 26px;
}

.table__void {
  display: none;
}

.table__cell-text {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .table {
    margin-bottom: 0;
    width: 100%;
  }

  .table__cell {
    width: 25%;
    padding: 6px 15px 8px;

    &--first {
      display: table-cell;
    }

    &--void {
      display: table-cell;
      border: 2px solid $light-grey;
      background-color: $light-grey;
    }

    &--standard::before {
      top: -5px;
      left: 0;
      width: 61px;
      height: 61px;
      background-size: 61px 61px;
    }

    &--standard::after {
      top: 15px;
      left: 7px;
      width: 26px;
      height: 27px;
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      color: $white;
      transform: rotate(-45deg);
    }
  }

  .table__yes {
    top: 12px;
    right: 60px;
  }

  .table__no {
    top: 9px;
    right: 63px;
  }

  .table__header-cell {
    width: 25%;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .table__cell-text {
    display: none;
  }

  .table__title {
    font-size: 16px;
  }

  .table__price {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .table__title {
    font-size: 18px;
    margin-bottom: 7px;
  }

  .table__price {
    font-size: 24px;
  }

  .table__cell {
    font-size: 18px;
    padding: 12px 15px 16px 19px;
  }

  .table__yes {
    top: 20px;
    right: 102px;
  }

  .table__no {
    top: 17px;
    right: 103px;
  }

  .table__header-cell {
    padding-bottom: 22px;

    &--standard::before {
      left: 0;
    }

    &--standard::after {
      left: 9px;
    }
  }
}
