.tools-list {
  @include no-list;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
  position: relative;
  padding: 0 20px 40px 20px;
}

.tools-list__item {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-list__button {
  @include no-button;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgba($dark-grey, 0.3);

  &--active {
    color: $lipstick;
  }

  &--crop {
    width: 44px;
    height: 44px;
    margin-left: 11px;
    margin-top: -10px;
  }

  &--fill {
    width: 48px;
    height: 43px;
    margin-top: -3px;

    &:focus,
    &:hover {
      color: rgba($dark-grey, 0.5);
    }
  }

  &--contrast {
    width: 32px;
    height: 32px;
    margin-right: 22px;
    margin-top: -5px;

    &:focus,
    &:hover {
      color: rgba($dark-grey, 0.5);
    }
  }
}

.tools-list__range {
  position: absolute;
  left: 17px;
  right: 20px;
  bottom: 0;

  &--contrast,
  &--fill {
    display: none;
  }
}

.tools-list__scale {
  height: 2px;
  background-color: $black;
}

.tools-list__toggle {
  width: 14px;
  height: 14px;
  background-color: $light-grey;
  border: 2px solid $lipstick;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -7px;
  left: 193px;

  &:active {
    background-color: $lipstick;
  }
}

@media (min-width: $tablet-width) {
  .tools-list {
    display: block;
    padding: 0;
    margin-bottom: 67px;
  }

  .tools-list__range {
    left: auto;
    right: auto;
    position: relative;
    bottom: auto;
    flex-grow: 1;
    margin-left: 28px;

    &--contrast,
    &--fill {
      display: block;
    }
  }

  .tools-list__scale {
    width: auto;
  }

  .tools-list__toggle {
    &--crop {
      left: 146px;
    }

    &--fill {
      left: 25px;
    }

    &--contrast {
      left: 96px;
    }
  }

  .tools-list__item {
    width: auto;
    margin: 0;
    padding: 36px 18px 36px 0;
    border-bottom: 1px solid rgba($black, 0.1);

    &:first-of-type {
      padding-top: 20px;
    }

    &:last-of-type {
      padding-top: 33px;
    }
  }

  .tools-list__button {
    color: $lipstick;
    width: 24px;

    &:focus,
    &:hover {
      color: $lipstick;
    }

    &--crop {
      margin: 0;
    }

    &--fill {
      margin: 0;
    }

    &--contrast{
      margin: 0;
      margin-left: 5px;
    }
  }

  .tools-list__icon {
    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .tools-list__item {
    padding-right: 30px;
    width: auto;
  }

  .tools-list__button {
    width: 48px;
    display: block;
  }

  .tools-list__range {
    margin-left: 44px;
  }

  .tools-list__toggle {
    &--crop {
      left: 70px;
    }

    &--fill {
      left: 247px;
    }

    &--contrast {
      left: 160px;
    }
  }

  .tools-list__icon {
    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }
}
