.tools-list {
  @include no-list;
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.tools-list__item {
  display: flex;
  flex-direction: column;
}

.tools-list__button {
  @include no-button;

  &--crop {
    fill: $lipstick;
  }

  &--fill {
    fill: rgba($dark-grey, 0.3);
  }

  &--contrast {
    fill: rgba($dark-grey, 0.3);
  }
}

.tools-list__range {
  width: 240px;
  margin-bottom: 34px;
  display: none;

  &--active {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .tools-list {
    display: flex;
    flex-direction: column;
    width: 275px;
  }
  .tools-list__range {
    display: block;
    width: 202px;
  }
  .tools-list__item {
    display: flex;
    width: 275px;
    border-bottom: 1px solid rgba($black, 0.1);
  }
}

@media (min-width: $desktop-width) {
  .tools-list {
    width: 410px;
  }
  .tools-list__item {
    width: 410px;
  }
  .tools-list__button {
    width: 48px;
  }
  .tools-list__range {
    width: 288px;
    margin: 0;
  }
}
