.user-photos {
  padding: 0;
}

.user-photos__wrapper {
  @include wrapper
}

.user-photos__slogan {
  padding: 46px 18px 48px 19px;
}

.user-photos__text {
  @include page-text;
  margin: 0 auto;
}

.user-photos__list {
  @include no-list;
}

.user-photos__item {
  margin-bottom: 19px;
  position: relative;

  &--panorama {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 140px;
      height: 36px;
      background-color: $lipstick;
      z-index: 1;
    }

    &::after {
      content: "Панорама дня";
      position: absolute;
      top: 6px;
      right: 20px;
      width: 102px;
      height: 12px;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      color: $white;
      z-index: 2;
    }
  }
}

.user-photos__post-wrapper {
  background-color: $light-grey;
  padding: 15px 30px 22px 17px;

  &--panorama {
    padding: 16px 37px 22px 17px;
  }
}

.user-photos__image {
  height: auto;
  display: block;
  margin: 0 auto;

  &--panorama {
    width: 100vw;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.user-photos__author {
  line-height: 24px;
  text-align: left;
  color: $dark-grey;
}

.user-photos__author-name {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.user-photos__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-photos__description {
  margin: 0;
  font-size: 14px;
  text-align: left;
  margin-bottom: 6px;
  width: 100%;

  &--questions {
    display: none;
  }
}

.user-photos__like {
  @include no-button;
  display: block;
  padding-left: 32px;
  margin-top: auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    top: 8px;
    left: 0;
    background-image: url("../img/svg/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

.user-photos__like-number,
.user-photos__like-text {
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  color: $lipstick;
}

@media (min-width: $tablet-width) {
  .user-photos__slogan {
    padding: 92px 90px 76px;
  }

  .user-photos {
    overflow: hidden;
  }

  .user-photos__text {
    font-size: 18px;
  }

  .user-photos__item {
    margin-right: 20px;
    display: flex;
    min-height: 455px;

    &--panorama {
      display: block;
      width: 100%;
      margin-bottom: 50px;

      &::before {
        top: 57px;
      }

      &::after {
        top: 63px;
      }
    }

    &:nth-of-type(2n+1) {
      margin-right: 0;
    }

    &:first-of-type {
      padding: 0;
    }
  }

  .user-photos__post-wrapper {
    width: 300px;
    padding: 22px 29px 25px 27px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--panorama {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 620px;
      padding: 22px 29px 18px 27px;
    }
  }

  .user-photos__post {
    display: flex;
    flex-direction: column;
  }

  .user-photos__image {
    width: 300px;

    &--panorama {
      width: auto;
      height: 509px;
    }
  }

  .user-photos__author--panorama {
    /*order: 1;*/
    width: 150px;
  }

  .user-photos__like {
    margin-top: auto;
    padding-left: 0;
    padding-right: 140px;
    padding-top: 2px;

    &::before {
      top: 8px;
      left: 227px;
    }

    &--panorama {
      padding-right: 30px;
      padding-left: 0;
      padding-top: 0;
      width: 121px;

      &::before {
        content: "";
        position: absolute;
        width: 13px;
        height: 12px;
        top: 8px;
        left: 105px;
        background-image: url("../img/svg/icon-heart.svg");
        background-repeat: no-repeat;
      }
    }
  }

  .user-photos__description {
    &--questions {
      display: inline;
    }

    &--panorama {
      order: 1;
    }
  }

  .user-photos__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .user-photos__slogan {
    padding: 91px 180px 89px;
  }

  .user-photos__post-wrapper {
    padding: 22px 32px 23px 28px;

    &--panorama {
      width: 940px;
      padding: 22px 32px 17px 27px;
    }
  }

  .user-photos__item {
    margin-bottom: 54px;
    min-height: 555px;

    &--panorama {
      margin: 0;
      margin-bottom: 50px;

      &::before {
        top: 54px;
        right: 0;
      }

      &::after {
        top: 59px;
        right: 20px;
      }
    }

    &:nth-of-type(2n+1) {
      margin-right: 20px;
    }

    &:nth-of-type(4),
    &:nth-of-type(7) {
      margin-right: 0;
    }
  }

  .user-photos__image {
    width: 300px;

    &--panorama {
      width: auto;
      height: 506px;
    }
  }

  .user-photos__list {
    width: 940px;
    margin: 0 auto;
  }
}
