$font-family: "Open Sans", "Arial", sans-serif;
/* Colors */
$dark-grey: #283645;
$download-background: #16202d;
$white: #ffffff;
$black: #000000;
$light-grey: #f2f2f2;
$lipstick: #d22856;
$medium-grey: #e5e5e5;
$green: #2aab6d;
$dark-green: #1c9b5e;
$leafy-green: #3dc644;
$clock-grey: #dedede;
/* Width */
$tablet-width: 660px;
$desktop-width: 960px;
/*Resolution*/
$retina-dppx: 1.5dppx;
